// Import page-specific CSS files here.
@import "home";

.items-list {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: none;
  .close {
    justify-content: space-between;
  }
}
.modal-header::before,
.modal-header::after {
  content: none;
}

.item-card {
  background: #fff;
  margin: 0 0 20px;
  padding: 12px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(#000, 0.2);
  cursor: pointer;
  transition: 0.3s ease;

  .btn {
    margin: 5px;
  }
}

.badge {
  margin-left: 10px;
}

.material-name {
  padding-right: 10px;
}
