// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";


.form-devise{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
};

.form-actions{
    text-align: center;
};